header {
	background-color:black;

}

nav {
	background-color:#00C6FF;
	color: black;

}

footer {
	background-color:#00C6FF;
	color: black;

}

.textformat {
	text-align: justify;
	text-align-last: center;
	line-height: 0.8;
}

.darksect {
	background-color:black;
	color: white;

}

.textColorBlack {
	color:black;

}

.font {
	font-family: "Lucida Console", "Courier New", monospace;
}
